/* @import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');


body {
  background:#fefaf6;
  overscroll-behavior:initial;
  overflow-x: hidden;
  margin:0px;

  background: linear-gradient(to bottom,#DED1BD 20%,#DED1BD,#FAF6F2);

}




   */
